.shop-info-container {
  display: flex;
  margin-top: 20px;
  border: 0.5px solid #4c4c4c;
  border-radius: 10px;
}
.left,
.right {
  width: 50%;
}

.details-info-container {
  display: flex;
  height: 20px;
  padding: 10px 0px;
  align-items: center;
  .icon-container {
    height: 24px;
    margin: 0px 10px;
    img {
      filter: invert(27%) sepia(6%) saturate(8%) hue-rotate(33deg)
        brightness(102%) contrast(91%);
    }
  }
  h4 {
    color: #4c4c4c;
    font-weight: 500;
  }

  span {
    color: #d0011b;
    margin-left: 10px;
  }
}
