.container-mask {
  width: 100%;
  height: 100vh;
  position: fixed;
  border: 1px solid black;
  z-index: 100000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.container {
  height: auto;
  width: 600px;
  background-color: white;
}
.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #8c52ff;
  h1 {
    color: white;
  }
}
.exitButton {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(231, 61, 61);
  color: white;
  &:hover {
    background-color: red;
  }
  &:active {
    background-color: black;
  }
}
.main-contents {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.left-ratio-1-1 {
  width: 300px;
  display: flex;
  flex-direction: column;
  .left-top {
    width: 300px;
    height: 300px;
  }
  .left-bottom {
    height: 32px;
    width: 100%;
  }
}
.left-ratio-3-4 {
  width: 300px;
  display: flex;
  flex-direction: column;
  .left-top {
    width: 300px;
    height: 400px;
  }
  .left-bottom {
    height: 32px;
    width: 100%;
  }
}
.right {
  width: 200px;
  display: flex;
  justify-content: center;
  height: fit-content;
  img {
    width: 100%;
    border: 1px solid #666;
  }
}
.left-top {
  width: 300px;
  height: 200px;
}
.cropper-crop-box {
  width: 500px;
  height: 100%;
}
.left-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  button {
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    // border: 1px solid #8c52ff;
    background-color: #8c52ff;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #a886eb;
    }
    &:active {
      background-color: #462e76;
    }
    img {
      filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(127deg)
        brightness(99%) contrast(98%);
    }
  }
}
