.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.912);
  z-index: 999;
}

.loading {
  width: 80px;
  height: 80px;
}
.main-contents {
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  align-items: center;
  border: none;
  border-radius: 8px;
  width: 400px;
  max-width: 400px;
  margin: 60px 0 0;
  height: fit-content;
  margin-top: 60px;
  padding: 20px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}
.input-user-container {
  display: flex;
  justify-content: center;
  height: 40px;
  button {
    border: none;
    background-color: green;
    color: white;
    padding: 0 10px;
    cursor: pointer;
    &:active {
      background-color: rgb(6, 79, 6);
    }
  }
  input {
    border-radius: 0;
    border: 1px solid green;
    width: 50%;
    line-height: 100%;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
}
.card {
  border: 2px dotted grey;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    accent-color: #8c52ff;
    cursor: pointer;
  }
  label {
    cursor: pointer;
  }
}
.selected {
  border-color: #8c52ff;
  border-style: solid;
  label {
    color: #8c52ff;
  }
}
.send-code-button {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  background-color: #8c52ff;
  color: white;
  border: 1px solid transparent;
  transition: width 0.5s ease, padding-right 0.5s ease;
  &:active {
    background-color: #4d19b5;
  }
  span {
    position: relative;
    transition: padding-right 0.5s;
  }

  img {
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(-20px);
    filter: invert(99%) sepia(0%) saturate(662%) hue-rotate(347deg)
      brightness(118%) contrast(100%);
  }

  &:hover {
    width: fit-content;
  }

  &:hover img {
    opacity: 1;
    transform: translateX(0);
  }
}

.timer-limit {
  display: flex;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  justify-content: center;
  margin-top: 10px;
  h4 {
    font-size: 18px;
    font-weight: 500;
  }
  div {
    display: flex;
    margin-left: 10px;
  }
  div > span {
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: blue;
  }
  button {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    text-decoration-line: underline;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 500;
    &:active {
      color: rgb(252, 89, 89);
    }
  }
}
.email-notification-check {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  h3 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(76, 75, 75);
  }
}
.submit-button {
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  button {
    height: 40px;
    width: 120px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #8c52ff;
    border: none;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #7237e8;
    }
    &:active {
      background-color: #9b70f3;
    }
  }
}
