.wrapper {
  width: calc(100% - 60px);
  position: absolute;
  box-sizing: border-box;
  height: calc(100% - 150px);
}
.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.912);
  z-index: 999;
}

.loading {
  width: 100px;
  height: 100px;
}

.changePass-heading-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-contents {
  display: flex;
  padding: 20px;
  margin-top: 45px;
  border: 1px solid #8c52ff;
  border-radius: 20px;
  height: inherit;
  overflow: auto;
  h1 {
    font-size: 28px;
    position: absolute;
    text-align: center;
  }
}

.input-container {
  margin-bottom: 20px;
}

.input-container > label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 20px;
  }

  input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: lighter;
  }

  span {
    position: absolute;
    right: 10px;
    top: calc(50% + 12px);
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    pointer-events: none;
  }

  span img {
    width: 20px;
    height: 20px;
    pointer-events: auto;
  }
}
.right-side {
  width: 30%;
  margin-top: 30px;
  padding-top: 44px;
  padding-left: 70px;
  p {
    margin-top: 20px;
    width: fit-content;
  }
}
.left-side {
  margin-top: 50px;
  width: 70%;
  padding: 0 70px;
}
.valid {
  color: green;
  &::before {
    content: "\2714";
    color: green;
    margin-right: 5px;
  }
}

.notValid {
  color: red;
  &::before {
    content: "\2718";
    color: red;
    margin-right: 5px;
  }
}
.submit-button {
  display: block;
  height: 40px;
  width: 150px;
  margin: 20px auto;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background-color: green;
  color: white;
}
.checkBox-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: fit-content;
  cursor: pointer;
  .checkBox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    accent-color: #8c52ff;
    cursor: pointer;
  }
  .checkBox-label {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    height: 20px;
    color: #8c52ff;
    cursor: pointer;
  }
}
